:root {
  --var-vue-green: #42b883;
  --var-vue-blue: #35495e;
  --var-light-green: #7bed9f;
  --var-dark-green: #2d6a4f;
  --var-soft-gray: #e0e0e0;
  --var-soft-gray: #2c3e50;
  --var-soft-blue: #3498db;
}
